[submodule "code/lib/qymos-stm32-driver-m23cXX"]
	path = code/lib/qymos-stm32-driver-m23cXX
	url = https://github.com/basson/qymos-stm32-driver-m24cXX.git
[submodule "code/lib/qymos-stm32-driver-ssd1309"]
	path = code/lib/qymos-stm32-driver-ssd1309
	url = https://github.com/basson/qymos-stm32-driver-ssd1309.git
[submodule "code/lib/qymos-stm32-gui-monochrome"]
	path = code/lib/qymos-stm32-gui-monochrome
	url = https://github.com/basson/qymos-stm32-gui-monochrome.git
[submodule "code/lib/qymos-stm32-common"]
	path = code/lib/qymos-stm32-common
	url = https://github.com/basson/qymos-stm32-common.git
[submodule "code/lib/qymos-stm32-driver-buzzer"]
	path = code/lib/qymos-stm32-driver-buzzer
	url = https://github.com/basson/qymos-stm32-driver-buzzer.git
[submodule "code/lib/qymos-stm32-hui"]
	path = code/lib/qymos-stm32-hui
	url = https://github.com/basson/qymos-stm32-hui.git
